.header {
    height: 40px;
    width: 100%;
    background-color: #333;
    line-height: 40px ;
    font-size: 12px;
}
.wrap{
    width: 1226px;
    margin: 0 auto;
}
.topbar-nav{
    float: left;
}
.topbar-nav >ul>li{
    float: left;
    position: relative;
}
.topbar-nav li:hover>.download{
    height: 148px;
}
.topbar-nav li:hover>.triangle{
   display: block;
}
.topbar-nav > ul > li > a{
    color: #b0b0b0;
}
.topbar-nav > ul > li > a:hover{
    color: #fff;
}
.sep{
    margin: 0 6px;

    float: left;
    color: #424242;
}

.header-rigth{
    float: right;
}
.header-rigth > ul >li{
    float: left;
}
.header-rigth > ul >li >a{
    color: #b0b0b0;
}
.header-rigth > ul > li > a:hover{
    color: #fff;
}

/* .header-rigth li:nth-last-child(2){
    margin-right: 20px;
} */
/* .header-rigth li:nth-last-child(1){
    width: 120px;
    height: 40px;
    margin-left: 25px;
    background-color: #424242;
} */
/* .header-rigth li a:nth-last-child(1) {
    display: block;
  } */
/* .header-rigth li:nth-last-child(1) :hover{
    background-color: #fff;
} */
.cart{
    width: 120px;
    height: 40px;
    margin-left: 25px;
    background-color: #424242;
    cursor: pointer;
    position: relative;
}
.cart span{
    margin-right: 5px;
}
/* 使用伪类元素不能有空格 */
.cart:hover{
    background-color: #fff;
}
.cart:hover a{
    color: #ff6700;
}

.wrap::before{
    content:" ";
    display: table;
}
.wrap::after{
    content:" ";
    display: table;
}
.wrap:after{
    clear: both;
}

/* 触发 hasLayout zoom：1*/
/* 伪元素清除浮动，需要在浮动的外曾容器添加  .clearfix */
/* .clearfix:after{
    content: "020"; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
    }
  
  .clearfix {
     
    zoom: 1; 
    } */
/* 购物车，下载app显示思路
1）绝对定位到正常位置
2）隐藏
3）鼠标悬停
 */

 .cart-list{
    position: absolute;
    top: 40px;
    right: 0px;
    width:316px;
    height: 0;
    overflow: hidden;
    line-height: 100px;
    background-color: #fff;
    box-shadow:0 2px 10px rgba(0, 0, 0, .15);
    transition: all .3s;
    z-index: 200;
 }
 .cart:hover > .cart-list{
    
    height: 100px;
 }
 .download{
    width: 124px;
    overflow: hidden;
    height: 0;
    background-color: #fff;
    box-shadow:0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    transition: all .3s;
    z-index: 200;
 }
 .download img{
    width: 90px;
    height: 90px;
    margin: 18px auto 12px ;
    display: block;
 }
 .download p{
    color: #333;
    font-size: 14px;
    line-height: 14px;
 }
 
 .triangle{
    width:0;
    height: 0;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -8px;
    display: none;
 }
 /* 导航开始 */
 .site-header{
    height: 100px;
    width: 100%;
    position: relative;
    /* display: flex;
    align-items: center; */
 }
 .header-logo{
    float: left;
    width: 62px;
    height: 56px;
    margin-top: 22px;
 }
 .header-logo img{
    width: 56px;
    height: 56px;
 }
 .header-nav{
    float: left;
 }
 .nav-category{
    width: 127px;
    margin-right: 15px;
 }
 .header-nav > ul{
    line-height: 100px;
    padding-left: 30px;
 }
 .header-nav > ul > li{
    float: left;
    line-height: 100px;
 }
 .header-nav > ul > li >a{
    color: #333;
    padding: 0 10px;
 }
 .header-nav > ul > li > a:hover{
    color:#ff6700 ;
 }
 
 .header-search{
    float: right;
    margin-top: 25px;
    width: 296px;
 }
 .header-search>input{
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    /* 去掉点击input边框 */
    outline: none;
    float: left;
 }
 .header-search>button{
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    color: #616161;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    float: left;
 }
 .nav-bar-list{
    position: absolute;
    height: 230px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
    left: 0;
    top: 100px;
    display: none;
 }
 .header-nav li:hover>.nav-bar-list{
    display: block;
 }
 .nav-bar-list li{
    width: 204px;
    float: left;
    margin-top: 35px;
 }
 .nav-img-box{
    width: 100%;
    height: 110px;
    border-right:1px solid #e0e0e0;
    margin-bottom: 20px;
 }
 .nav-bar-list  p{
    font-size: 12px;
    line-height: 20px;
 }
 .nav-bar-list p:nth-of-type(2){
    color: #ff6700;
 }
 .nav-bar-list li:last-child .nav-img-box{
    border-right: none;
 }
 /* 导航结束 */
